html,body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
a,a:visited{
    color: inherit !important;
    text-decoration: none;
}
.text-left{
    text-align: left
}
.be-blue{
    background-color: #4558FF;
}
.white{
    color: #FAFDFE;
}
.blue{
    background-color: #4558FF;
}
.red{
    background-color: #FF5748;
}
.yellow{
    background-color: #FEFF07;
}
.large-padding{
    padding: 10px 7px;
}
.no-margin{
    margin: 0px;
}

#logo{
    font-size: 1.2em;
}
.field{
    margin-top:1em;
}
.top-space{
    margin-top: 1em;
}
.form-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}
.btn{
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor:  pointer;
    font-size: 1.2em;
    padding: 10px 12px;
    color: #FAFDFE;
}